<section class="d-flex justify-content-center">
  <a href="/" class="btn btn-outline-dark me-4" type="button">Home</a>
  <a href="/products" class="btn btn-dark" type="button">Product List</a>
</section>