<!DOCTYPE html>
<html lang="en">
    <%- include("components/formHead.ejs") %> 
<body>
    <section class="container justify-content-center mb-5">
        <h1 class='display-5 text-center m-4'>Product List</h1>
        <%- include("components/formTable.ejs") %> 
    </section>
    <%- include("components/formButtons.ejs") %> 
</body>
</html>